<a href="https://colab.research.google.com/github/adukeshav2021/Anly_560/blob/main/Lab5_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [2]:
text = "42 COMMERCE"
text.split(' ')[0]

'42'

In [8]:
text = "42 COMMERCE"
pattern = "\d{2}"
regex = re.compile(pattern)
match = regex.search(text)
text[match.start():match.end()]

'42'

In [9]:
text =  "PROF SRV  SEWERS 0604P"
pattern = "\d{4}$|\d{4}[A-Z]$"
regex = re.compile(pattern)
match = regex.search(text)
text[match.start():match.end()]

'0604P'

In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.Series(['a123','b b','c 123'])
data

0     a123
1      b b
2    c 123
dtype: object

In [16]:
pattern = "(\w)\s(\S+)"
data.str.findall(pattern)

0            []
1      [(b, b)]
2    [(c, 123)]
dtype: object

In [17]:
pattern = "(\w)\s(\S+)"
data.str.extract(pattern)

     0    1
0  NaN  NaN
1    b    b
2    c  123

In [30]:
data = pd.read_csv('/content/lab5.csv')
data.head()

   check_date   document_no  ... doc_ref_no_prefix_definition transaction_amount
0   4/12/2017  CHEK17119771  ...              payment voucher              66.82
1    6/9/2017  ACHD17177233  ...              payment voucher             127.33
2  11/25/2016  CHEK17063736  ...              payment voucher             454.20
3    7/7/2016  CHEK17000247  ...                  procurement              50.00
4    7/8/2016  ACHD17000233  ...                   petty cash              71.92

[5 rows x 8 columns]

In [31]:
data.dtypes

check_date                       object
document_no                      object
department_title                 object
character_title                  object
sub_obj_title                    object
vendor_name                      object
doc_ref_no_prefix_definition     object
transaction_amount              float64
dtype: object

In [32]:
pattern = "(\d{2})\s(\S+)"
data['character_title'].str.extract(pattern)

         0          1
0       02   PURCHASE
1       02   PURCHASE
2       02   PURCHASE
3       02   PURCHASE
4       03  MATERIALS
...     ..        ...
238889  02   PURCHASE
238890  02   PURCHASE
238891  02   PURCHASE
238892  02   PURCHASE
238893  02   PURCHASE

[238894 rows x 2 columns]

In [33]:
pattern = "(\d{2})\s([\s\S]+)"
data['character_title'].str.extract(pattern)

         0                       1
0       02    PURCHASE OF SERVICES
1       02    PURCHASE OF SERVICES
2       02    PURCHASE OF SERVICES
3       02    PURCHASE OF SERVICES
4       03  MATERIALS AND SUPPLIES
...     ..                     ...
238889  02    PURCHASE OF SERVICES
238890  02    PURCHASE OF SERVICES
238891  02    PURCHASE OF SERVICES
238892  02    PURCHASE OF SERVICES
238893  02    PURCHASE OF SERVICES

[238894 rows x 2 columns]

In [34]:
pattern = "(\d{2})\s([\s\S]+)"
matches = data['character_title'].str.extract(pattern)
data['character_no'] = matches[0].astype(int)
data['character_title'] = matches[1]

In [35]:
data.head()

   check_date   document_no  ... transaction_amount character_no
0   4/12/2017  CHEK17119771  ...              66.82            2
1    6/9/2017  ACHD17177233  ...             127.33            2
2  11/25/2016  CHEK17063736  ...             454.20            2
3    7/7/2016  CHEK17000247  ...              50.00            2
4    7/8/2016  ACHD17000233  ...              71.92            3

[5 rows x 9 columns]

In [36]:
data.dtypes

check_date                       object
document_no                      object
department_title                 object
character_title                  object
sub_obj_title                    object
vendor_name                      object
doc_ref_no_prefix_definition     object
transaction_amount              float64
character_no                      int64
dtype: object